*
    margin: 0
    padding: 0
    box-sizing: border-box
ol, li, ul
    list-style: none
ol, li, ul, a
    color: inherit
    font-size: inherit
    font-weight: inherit
a
    text-decoration: none
html
    font-size: 1px
body
    font-family: Inter, sans-serif
    font-size: 16rem
    font-weight: 400
    line-height: 28rem
    color: $black
    &._lock
        overflow: hidden
.container
    max-width: $maxWidthContainer + rem
    margin: 0 auto
    padding-left: 15rem
    padding-right: 15rem
.wrapper
    display: flex
    min-height: calc(100vh - 80rem)
    flex-direction: column
    @media (max-width: 640px)
        min-height: calc(100vh - 68rem)
main.main
    flex-grow: 1
    flex-shrink: 0