section.about
    .container.about__container
        .about__decor
            span.yellow
            span.purple
        .about__cart
            p.cap.about__cap ABOUT US
            h2.about__title We are a community of content writers who share their learnings
            p.about__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            a(href="/").about__link Read More >
        .about__cart
            p.cap.about__cap Our mision
            h3.about__title Creating valuable content for creatives all around the world
            p.about__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.