header(class="header")
    .container.header__container 
        .header__left
            +logo()
        nav.header__right.menu
            +menu(menuItems)
            +button('Subscribe', 'button-light')
        +burger()
