section.intro
    .container.intro__container 
        p.typography.intro__typography Posted on #[span startup]
        h1.display.intro__display Step-by-step guide to choosing great font pairs
        p.typography.intro__typography.intro__typography__small By #[span James West]  |  May 23, 2022
        h6.intro__text Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
        +button('Read More >')