include blocks/mixins.pug
html(lang="en")
    +head("Finsweet-Home", "", "")
    body
        include blocks/header.pug
        .wrapper
            main.main 
                include blocks/intro.pug
                include blocks/posts.pug
        script(src='js/script.min.js')